header{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
}

#divTextoHeader{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

#cms{
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
}

#nomeEmpresa{
    font-size: 1.5rem;
    color: white;
}

#descricao{
    font-size: 1.5rem;
    color: white;
}

#logo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#txtLogo{
    font-family: 'Risque';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 55px;
    color: rgba(255, 0, 0, 0.58);
    margin-right: 50px;
}